In [83]:
import sqlalchemy as sql
import pandas as pd
import glob
from os import path, sep

### Set up connection

In [5]:
engine = sql.create_engine("mysql+pymysql://bNeeQKJ4m2:qkjw5o7sxi@remotemysql.com/bNeeQKJ4m2")

In [168]:
con = engine.connect()

###  CREATE statements

In [32]:
con.execute("""CREATE TABLE experiments (
    experiment_id int(4) not null AUTO_INCREMENT PRIMARY KEY,
    experiment_type varchar(64),
    period_type varchar(64),
    UNIQUE KEY (experiment_type, period_type)
    )
""")

In [114]:
#con.execute("""DROP TABLE participants """)

con.execute("""CREATE TABLE experiment_participants (
    id int(6) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    experiment_id int(6) NOT NULL,
    group_id int(6) NOT NULL,
    participant_id int(6) NOT NULL,
    UNIQUE KEY (experiment_id, group_id, participant_id)
    )"""
           )

In [169]:
con.execute("""DROP TABLE participant_experiment_raw_interval_data""") 
con.execute("""CREATE TABLE raw_interval_data (
    id int(6) not null AUTO_INCREMENT PRIMARY KEY,
    experiment_participants_id int(6) NOT NULL,
    experiment_id int(6) NOT NULL,
    data_ordinal int(6) NOT NULL,
    data_time DECIMAL(11,5),
    data_time_diff DECIMAL(11,5),
    UNIQUE KEY (experiment_participants_id, data_ordinal)
    )"""
           )

In [170]:
con.execute("""DROP TABLE participant_experiment_interpolated_interval_data """)
con.execute("""CREATE TABLE interpolated_interval_data (
    id int(4) not null AUTO_INCREMENT PRIMARY KEY,
    participant_id int(5) NOT NULL,
    experiment_id int(4) NOT NULL,
    data_ordinal int(5) NOT NULL,
    data_time DECIMAL(11,5),
    data_value DECIMAL(11,5),
    UNIQUE KEY (experiment_id, participant_id, data_ordinal)
    )"""
           )

### Manually insert the music experiment types for the IBI series music experiments

In [33]:
con.execute("""INSERT INTO experiments VALUES 
    (null, 'music', 'ibi-baseline-before'),
    (null, 'music', 'ibi-interaction'),
    (null, 'music', 'ibi-baseline-after')
    """
)

### Locate all raw interval data from music experiment

In [91]:
fnames = sorted(glob.glob('data/final_music/**/*.xlsx',recursive=True))
fnames[:5]

['data/final_music/1006/117/EDA_1006_117_BL_C.xlsx',
 'data/final_music/1006/117/HRV_1006_117_I_C.xlsx',
 'data/final_music/1006/117/HRV_1006_117_BLE_C.xlsx',
 'data/final_music/1006/117/HRV_1006_117_BL_C.xlsx',
 'data/final_music/1006/117/EDA_1006_117_I_C.xlsx']

### Get the experiment_id for the different experiment segments

In [136]:
experiments=pd.read_sql_table('experiments',con)

experiment_ids = {
    "BL": experiments.query('experiment_type=="music" & period_type=="ibi-baseline-before"')['experiment_id'].iloc[0],
    "BLE": experiments.query('experiment_type=="music" & period_type=="ibi-baseline-after"')['experiment_id'].iloc[0],
    "I": experiments.query('experiment_type=="music" & period_type=="ibi-interaction"')['experiment_id'].iloc[0],
}
experiment_ids

{'BL': 1, 'BLE': 3, 'I': 2}

In [171]:
for f in fnames:
    parts = f.split(sep)[2:]
    fname_parts= parts[-1].split('_')
    if fname_parts[0]=='EDA' or fname_parts[3]=='FS':
        continue
    print(parts)
    data = pd.read_excel(f,sheet_name='IBI Series',header=None, skiprows=[0], names=['data_time_diff'])
    data['data_ordinal']=data.index
    data['data_time_diff']=data['data_time_diff'].map(lambda x: x/1000)
    data['data_time']= pd.np.round(pd.np.cumsum(data['data_time_diff']),4)
    #con.execute("INSERT IGNORE INTO experiment_participants VALUES (null, {}, {}, {})".format(
    #    experiment_ids[fname_parts[3]], #experiment_id
    #    fname_parts[2], # group_id
    #    fname_parts[1])) # participant_id
    exp_part_id = list(con.execute(
        """
        SELECT id 
        FROM experiment_participants 
        WHERE experiment_id={} 
            AND group_id={}
            AND participant_id={}""".format(
        experiment_ids[fname_parts[3]], #experiment_id
        fname_parts[2], # group_id
        fname_parts[1])) # participant_id
    )[0][0]
    data['experiment_participants_id']=exp_part_id
    data['experiment_id']=experiment_ids[fname_parts[3]]
    data.to_sql(name='raw_interval_data', con=con, if_exists='append', index=False, method='multi')

['1006', '117', 'HRV_1006_117_I_C.xlsx']
['1006', '117', 'HRV_1006_117_BLE_C.xlsx']
['1006', '117', 'HRV_1006_117_BL_C.xlsx']
['1006', '118', 'HRV_1006_118_BL_C.xlsx']
['1006', '118', 'HRV_1006_118_I_C.xlsx']
['1006', '118', 'HRV_1006_118_BLE_C.xlsx']
['1006', '116', 'HRV_1006_116_I_C.xlsx']
['1006', '116', 'HRV_1006_116_BL_C.xlsx']
['1006', '116', 'HRV_1006_116_BLE_C.xlsx']
['1017', '151', 'HRV_1017_151_I_C.xlsx']
['1017', '151', 'HRV_1017_151_BLE_C.xlsx']
['1017', '151', 'HRV_1017_151_BL_C.xlsx']
['1017', '149', 'HRV_1017_149_BLE_C.xlsx']
['1017', '149', 'HRV_1017_149_I_C.xlsx']
['1017', '149', 'HRV_1017_149_BL_C.xlsx']
['1035', '206', 'HRV_1035_206_BLE_C.xlsx']
['1035', '206', 'HRV_1035_206_BL_C.xlsx']
['1035', '206', 'HRV_1035_206_I_C.xlsx']
['1035', '207', 'HRV_1035_207_I_C.xlsx']
['1035', '207', 'HRV_1035_207_BL_C.xlsx']
['1035', '207', 'HRV_1035_207_BLE_C.xlsx']
['1035', '208', 'HRV_1035_208_I_C.xlsx']
['1035', '208', 'HRV_1035_208_BL_C.xlsx']
['1035', '208', 'HRV_1035_208_BLE_C.xlsx']
['1024', '172', 'HRV_1024_172_I_C.xlsx']
['1024', '172', 'HRV_1024_172_BL_C.xlsx']
['1024', '172', 'HRV_1024_172_BLE_C.xlsx']
['1024', '171', 'HRV_1024_171_I_C.xlsx']
['1024', '171', 'HRV_1024_171_BL_C.xlsx']
['1024', '171', 'HRV_1024_171_BLE_C.xlsx']
['1024', '170', 'HRV_1024_170_BLE_C.xlsx']
['1024', '170', 'HRV_1024_170_BL_C.xlsx']
['1024', '170', 'HRV_1024_170_I_C.xlsx']
['1014', '142', 'HRV_1014_142_BLE_C.xlsx']
['1014', '142', 'HRV_1014_142_I_C.xlsx']
['1014', '142', 'HRV_1014_142_BL_C.xlsx']
['1014', '141', 'HRV_1014_141_I_C.xlsx']
['1014', '141', 'HRV_1014_141_BLE_C.xlsx']
['1014', '141', 'HRV_1014_141_BL_C.xlsx']
['1014', '140', 'HRV_1014_140_BL_C.xlsx']
['1014', '140', 'HRV_1014_140_I_C.xlsx']
['1014', '140', 'HRV_1014_140_BLE_C.xlsx']
['1016', '146', 'HRV_1016_146_I_C.xlsx']
['1016', '146', 'HRV_1016_146_BLE_C.xlsx']
['1016', '146', 'HRV_1016_146_BL_C.xlsx']
['1016', '148', 'HRV_1016_148_BLE_C.xlsx']
['1016', '148', 'HRV_1016_148_BL_C.xlsx']
['1016', '148', 'HRV_1016_148_I_C.xlsx']
['1016', '147', 'HRV_1016_147_BL_C.xlsx']
['1016', '147', 'HRV_1016_147_I_C.xlsx']
['1016', '147', 'HRV_1016_147_BLE_C.xlsx']
['1031', '193', 'HRV_1031_193_BL_C.xlsx']
['1031', '193', 'HRV_1031_193_I_C.xlsx']
['1031', '193', 'HRV_1031_193_BLE_C.xlsx']
['1031', '191', 'HRV_1031_191_BL_C.xlsx']
['1031', '191', 'HRV_1031_191_BLE_C.xlsx']
['1031', '191', 'HRV_1031_191_I_C.xlsx']
['1031', '192', 'HRV_1031_192_I_C.xlsx']
['1031', '192', 'HRV_1031_192_BL_C.xlsx']
['1031', '192', 'HRV_1031_192_BLE_C.xlsx']
['1001', '101', 'HRV_1001_101_BL_C.xlsx']
['1001', '101', 'HRV_1001_101_I_C.xlsx']
['1001', '103', 'HRV_1001_103_I_C.xlsx']
['1001', '103', 'HRV_1001_103_BL_C.xlsx']
['1001', '102', 'HRV_1001_102_I_C.xlsx']
['1001', '102', 'HRV_1001_102_BL_C.xlsx']
['1020', '158', 'HRV_1020_158_I_C.xlsx']
['1020', '158', 'HRV_1020_158_BL_C.xlsx']
['1020', '158', 'HRV_1020_158_BLE_C.xlsx']
['1020', '159', 'HRV_1020_159_BLE_C.xlsx']
['1020', '159', 'HRV_1020_159_BL_C.xlsx']
['1020', '159', 'HRV_1020_159_I_C.xlsx']
['1020', '160', 'HRV_1020_160_BLE_C.xlsx']
['1020', '160', 'HRV_1020_160_BL_C.xlsx']
['1020', '160', 'HRV_1020_160_I_C.xlsx']
['1025', '173', 'HRV_1025_173_BL_C.xlsx']
['1025', '173', 'HRV_1025_173_I_C.xlsx']
['1025', '173', 'HRV_1025_173_BLE_C.xlsx']
['1025', '175', 'HRV_1025_175_BL_C.xlsx']
['1025', '175', 'HRV_1025_175_BLE_C.xlsx']
['1025', '175', 'HRV_1025_175_I_C.xlsx']
['1025', '174', 'HRV_1025_174_I_C.xlsx']
['1025', '174', 'HRV_1025_174_BL_C.xlsx']
['1025', '174', 'HRV_1025_174_BLE_C.xlsx']
['1027', '180', 'HRV_1027_180_I_C.xlsx']
['1027', '180', 'HRV_1027_180_BLE_C.xlsx']
['1027', '180', 'HRV_1027_180_BL_C.xlsx']
['1027', '181', 'HRV_1027_181_I_C.xlsx']
['1027', '181', 'HRV_1027_181_BL_C.xlsx']
['1027', '181', 'HRV_1027_181_BLE_C.xlsx']
['1027', '179', 'HRV_1027_179_BLE_C.xlsx']
['1027', '179', 'HRV_1027_179_BL_C.xlsx']
['1027', '179', 'HRV_1027_179_I_C.xlsx']
['1042', '229', 'HRV_1042_229_BL_C.xlsx']
['1042', '229', 'HRV_1042_229_I_C.xlsx']
['1042', '229', 'HRV_1042_229_BLE_C.xlsx']
['1042', '227', 'HRV_1042_227_BL_C.xlsx']
['1042', '227', 'HRV_1042_227_I_C.xlsx']
['1042', '227', 'HRV_1042_227_BLE_C.xlsx']
['1042', '228', 'HRV_1042_228_BLE_C.xlsx']
['1042', '228', 'HRV_1042_228_BL_C.xlsx']
['1042', '228', 'HRV_1042_228_I_C.xlsx']
['1044', '234', 'HRV_1044_234_BL_C.xlsx']
['1044', '234', 'HRV_1044_234_BLE_C.xlsx']
['1044', '234', 'HRV_1044_234_I_C.xlsx']
['1044', '235', 'HRV_1044_235_BL_C.xlsx']
['1044', '235', 'HRV_1044_235_I_C.xlsx']
['1044', '235', 'HRV_1044_235_BLE_C.xlsx']
['1044', '233', 'HRV_1044_233_I_C.xlsx']
['1044', '233', 'HRV_1044_233_BLE_C.xlsx']
['1044', '233', 'HRV_1044_233_BL_C.xlsx']
['1015', '144', 'HRV_1015_144_BLE_C.xlsx']
['1015', '144', 'HRV_1015_144_BL_C.xlsx']
['1015', '144', 'HRV_1015_144_I_C.xlsx']
['1015', '145', 'HRV_1015_145_BLE_C.xlsx']
['1015', '145', 'HRV_1015_145_I_C.xlsx']
['1015', '145', 'HRV_1015_145_BL_C.xlsx']
['1051', '256', 'HRV_1051_256_I_C.xlsx']
['1051', '256', 'HRV_1051_256_BL_C.xlsx']
['1051', '256', 'HRV_1051_256_BLE_C.xlsx']
['1051', '255', 'HRV_1051_255_BLE_C.xlsx']
['1051', '255', 'HRV_1051_255_BL_C.xlsx']
['1051', '255', 'HRV_1051_255_I_C.xlsx']
['1051', '254', 'HRV_1051_254_I_C.xlsx']
['1051', '254', 'HRV_1051_254_BLE_C.xlsx']
['1051', '254', 'HRV_1051_254_BL_C.xlsx']
['1039', '219', 'HRV_1039_219_I_C.xlsx']
['1039', '219', 'HRV_1039_219_BL_C.xlsx']
['1039', '219', 'HRV_1039_219_BLE_C.xlsx']
['1039', '218', 'HRV_1039_218_BLE_C.xlsx']
['1039', '218', 'HRV_1039_218_BL_C.xlsx']
['1039', '218', 'HRV_1039_218_I_C.xlsx']
['1039', '220', 'HRV_1039_220_BLE_C.xlsx']
['1039', '220', 'HRV_1039_220_BL_C.xlsx']
['1039', '220', 'HRV_1039_220_I_C.xlsx']
['1038', '217', 'HRV_1038_217_BLE_C.xlsx']
['1038', '217', 'HRV_1038_217_BL_C.xlsx']
['1038', '217', 'HRV_1038_217_I_C.xlsx']
['1038', '215', 'HRV_1038_215_I_C.xlsx']
['1038', '215', 'HRV_1038_215_BL_C.xlsx']
['1038', '215', 'HRV_1038_215_BLE_C.xlsx']
['1038', '216', 'HRV_1038_216_BL_C.xlsx']
['1038', '216', 'HRV_1038_216_BLE_C.xlsx']
['1038', '216', 'HRV_1038_216_I_C.xlsx']
['1045', '238', 'HRV_1045_238_I_C.xlsx']
['1045', '238', 'HRV_1045_238_BLE_C.xlsx']
['1045', '238', 'HRV_1045_238_BL_C.xlsx']
['1045', '237', 'HRV_1045_237_BL_C.xlsx']
['1045', '237', 'HRV_1045_237_BLE_C.xlsx']
['1045', '237', 'HRV_1045_237_I_C.xlsx']
['1045', '236', 'HRV_1045_236_BL_C.xlsx']
['1045', '236', 'HRV_1045_236_BLE_C.xlsx']
['1045', '236', 'HRV_1045_236_I_C.xlsx']
['1009', '127', 'HRV_1009_127_BL_C.xlsx']
['1009', '127', 'HRV_1009_127_I_C.xlsx']
['1009', '127', 'HRV_1009_127_BLE_C.xlsx']
['1009', '126', 'HRV_1009_126_BLE_C.xlsx']
['1009', '126', 'HRV_1009_126_I_C.xlsx']
['1009', '126', 'HRV_1009_126_BL_C.xlsx']
['1009', '125', 'HRV_1009_125_BLE_C.xlsx']
['1009', '125', 'HRV_1009_125_BL_C.xlsx']
['1009', '125', 'HRV_1009_125_I_C.xlsx']
['1005', '114', 'HRV_1005_114_I_C.xlsx']
['1005', '114', 'HRV_1005_114_BL_C.xlsx']
['1005', '114', 'HRV_1005_114_BLE_C.xlsx']
['1005', '115', 'HRV_1005_115_I_C.xlsx']
['1005', '115', 'HRV_1005_115_BL_C.xlsx']
['1005', '115', 'HRV_1005_115_BLE_C.xlsx']
['1005', '113', 'HRV_1005_113_BL_C.xlsx']
['1005', '113', 'HRV_1005_113_BLE_C.xlsx']
['1005', '113', 'HRV_1005_113_I_C.xlsx']
['1030', '189', 'HRV_1030_189_BLE_C.xlsx']
['1030', '189', 'HRV_1030_189_I_C.xlsx']
['1030', '189', 'HRV_1030_189_BL_C.xlsx']
['1030', '190', 'HRV_1030_190_BLE_C.xlsx']
['1030', '190', 'HRV_1030_190_BL_C.xlsx']
['1030', '190', 'HRV_1030_190_I_C.xlsx']
['1030', '188', 'HRV_1030_188_BLE_C.xlsx']
['1030', '188', 'HRV_1030_188_BL_C.xlsx']
['1030', '188', 'HRV_1030_188_I_C.xlsx']
['1011', '133', 'HRV_1011_133_I_C.xlsx']
['1011', '133', 'HRV_1011_133_BLE_C.xlsx']
['1011', '133', 'HRV_1011_133_BL_C.xlsx']
['1011', '132', 'HRV_1011_132_BL_C.xlsx']
['1011', '132', 'HRV_1011_132_I_C.xlsx']
['1011', '132', 'HRV_1011_132_BLE_C.xlsx']
['1011', '131', 'HRV_1011_131_BL_C.xlsx']
['1011', '131', 'HRV_1011_131_I_C.xlsx']
['1011', '131', 'HRV_1011_131_BLE_C.xlsx']
['1049', '249', 'HRV_1049_249_I_C.xlsx']
['1049', '249', 'HRV_1049_249_BL_C.xlsx']
['1049', '249', 'HRV_1049_249_BLE_C.xlsx']
['1049', '248', 'HRV_1049_248_I_C.xlsx']
['1049', '248', 'HRV_1049_248_BLE_C.xlsx']
['1049', '248', 'HRV_1049_248_BL_C.xlsx']
['1049', '250', 'HRV_1049_250_BL_C.xlsx']

['1049', '250', 'HRV_1049_250_BLE_C.xlsx']
['1049', '250', 'HRV_1049_250_I_C.xlsx']
['1036', '209', 'HRV_1036_209_I_C.xlsx']
['1036', '209', 'HRV_1036_209_BL_C.xlsx']
['1036', '209', 'HRV_1036_209_BLE_C.xlsx']
['1036', '211', 'HRV_1036_211_I_C.xlsx']
['1036', '211', 'HRV_1036_211_BLE_C.xlsx']
['1036', '211', 'HRV_1036_211_BL_C.xlsx']
['1036', '210', 'HRV_1036_210_BL_C.xlsx']
['1036', '210', 'HRV_1036_210_I_C.xlsx']
['1036', '210', 'HRV_1036_210_BLE_C.xlsx']
['1047', '243', 'HRV_1047_243_I_C.xlsx']
['1047', '243', 'HRV_1047_243_BL_C.xlsx']
['1047', '243', 'HRV_1047_243_BLE_C.xlsx']
['1047', '242', 'HRV_1047_242_BL_C.xlsx']
['1047', '242', 'HRV_1047_242_I_C.xlsx']
['1047', '242', 'HRV_1047_242_BLE_C.xlsx']
['1047', '244', 'HRV_1047_244_I_C.xlsx']
['1047', '244', 'HRV_1047_244_BL_C.xlsx']
['1047', '244', 'HRV_1047_244_BLE_C.xlsx']
['1023', '167', 'HRV_1023_167_BLE_C.xlsx']
['1023', '167', 'HRV_1023_167_I_C.xlsx']
['1023', '167', 'HRV_1023_167_BL_C.xlsx']
['1023', '169', 'HRV_1023_169_BLE_C.xlsx']
['1023', '169', 'HRV_1023_169_BL_C.xlsx']
['1023', '169', 'HRV_1023_169_I_C.xlsx']
['1023', '168', 'HRV_1023_168_BL_C.xlsx']
['1023', '168', 'HRV_1023_168_I_C.xlsx']
['1008', '124', 'HRV_1008_124_BLE_C.xlsx']
['1008', '124', 'HRV_1008_124_BL_C.xlsx']
['1008', '124', 'HRV_1008_124_I_C.xlsx']
['1008', '123', 'HRV_1008_123_BL_C.xlsx']
['1008', '123', 'HRV_1008_123_BLE_C.xlsx']
['1008', '123', 'HRV_1008_123_I_C.xlsx']
['1008', '122', 'HRV_1008_122_BLE_C.xlsx']
['1008', '122', 'HRV_1008_122_BL_C.xlsx']
['1008', '122', 'HRV_1008_122_I_C.xlsx']
['1048', '246', 'HRV_1048_246_BL_C.xlsx']
['1048', '246', 'HRV_1048_246_I_C.xlsx']
['1048', '246', 'HRV_1048_246_BLE_C.xlsx']
['1048', '247', 'HRV_1048_247_BL_C.xlsx']
['1048', '247', 'HRV_1048_247_BLE_C.xlsx']
['1048', '247', 'HRV_1048_247_I_C.xlsx']
['1048', '245', 'HRV_1048_245_BL_C.xlsx']
['1048', '245', 'HRV_1048_245_BLE_C.xlsx']
['1048', '245', 'HRV_1048_245_I_C.xlsx']
['1043', '231', 'HRV_1043_231_BL_C.xlsx']
['1043', '231', 'HRV_1043_231_BLE_C.xlsx']
['1043', '231', 'HRV_1043_231_I_C.xlsx']
['1043', '230', 'HRV_1043_230_I_C.xlsx']
['1043', '230', 'HRV_1043_230_BLE_C.xlsx']
['1043', '230', 'HRV_1043_230_BL_C.xlsx']
['1043', '232', 'HRV_1043_232_BL_C.xlsx']
['1043', '232', 'HRV_1043_232_I_C.xlsx']
['1043', '232', 'HRV_1043_232_BLE_C.xlsx']
['1037', '214', 'HRV_1037_214_I_C.xlsx']
['1037', '214', 'HRV_1037_214_BL_C.xlsx']
['1037', '214', 'HRV_1037_214_BLE_C.xlsx']
['1037', '213', 'HRV_1037_213_I_C.xlsx']
['1037', '213', 'HRV_1037_213_BL_C.xlsx']
['1037', '213', 'HRV_1037_213_BLE_C.xlsx']
['1037', '212', 'HRV_1037_212_I_C.xlsx']
['1037', '212', 'HRV_1037_212_BLE_C.xlsx']
['1037', '212', 'HRV_1037_212_BL_C.xlsx']
['1033', '201', 'HRV_1033_201_BL_C.xlsx']
['1033', '201', 'HRV_1033_201_BLE_C.xlsx']
['1033', '201', 'HRV_1033_201_I_C.xlsx']
['1033', '200', 'HRV_1033_200_BLE_C.xlsx']
['1033', '200', 'HRV_1033_200_I_C.xlsx']
['1033', '200', 'HRV_1033_200_BL_C.xlsx']
['1033', '202', 'HRV_1033_202_BL_C.xlsx']
['1033', '202', 'HRV_1033_202_I_C.xlsx']
['1033', '202', 'HRV_1033_202_BLE_C.xlsx']
['1028', '184', 'HRV_1028_184_BLE_C.xlsx']
['1028', '184', 'HRV_1028_184_BL_C.xlsx']
['1028', '184', 'HRV_1028_184_I_C.xlsx']
['1028', '183', 'HRV_1028_183_BLE_C.xlsx']
['1028', '183', 'HRV_1028_183_BL_C.xlsx']
['1028', '183', 'HRV_1028_183_I_C.xlsx']
['1028', '182', 'HRV_1028_182_BL_C.xlsx']
['1028', '182', 'HRV_1028_182_BLE_C.xlsx']
['1028', '182', 'HRV_1028_182_I_C.xlsx']
['1019', '155', 'HRV_1019_155_BL_C.xlsx']
['1019', '155', 'HRV_1019_155_BLE_C.xlsx']
['1019', '155', 'HRV_1019_155_I_C.xlsx']
['1019', '156', 'HRV_1019_156_BL_C.xlsx']
['1019', '156', 'HRV_1019_156_BLE_C.xlsx']
['1019', '156', 'HRV_1019_156_I_C.xlsx']
['1019', '157', 'HRV_1019_157_BL_C.xlsx']
['1019', '157', 'HRV_1019_157_BLE_C.xlsx']
['1019', '157', 'HRV_1019_157_I_C.xlsx']
['1022', '166', 'HRV_1022_166_BLE_C.xlsx']
['1022', '166', 'HRV_1022_166_I_C.xlsx']
['1022', '166', 'HRV_1022_166_BL_C.xlsx']
['1022', '164', 'HRV_1022_164_BLE_C.xlsx']
['1022', '164', 'HRV_1022_164_BL_C.xlsx']
['1022', '164', 'HRV_1022_164_I_C.xlsx']
['1022', '165', 'HRV_1022_165_BL_C.xlsx']
['1022', '165', 'HRV_1022_165_BLE_C.xlsx']
['1022', '165', 'HRV_1022_165_I_C.xlsx']
['1013', '138', 'HRV_1013_138_BL_C.xlsx']
['1013', '138', 'HRV_1013_138_BLE_C.xlsx']
['1013', '138', 'HRV_1013_138_I_C.xlsx']
['1013', '139', 'HRV_1013_139_I_C.xlsx']
['1013', '139', 'HRV_1013_139_BLE_C.xlsx']
['1013', '139', 'HRV_1013_139_BL_C.xlsx']
['1013', '137', 'HRV_1013_137_BLE_C.xlsx']
['1013', '137', 'HRV_1013_137_I_C.xlsx']
['1013', '137', 'HRV_1013_137_BL_C.xlsx']
['1034', '204', 'HRV_1034_204_BLE_C.xlsx']
['1034', '204', 'HRV_1034_204_BL_C.xlsx']
['1034', '204', 'HRV_1034_204_I_C.xlsx']
['1034', '203', 'HRV_1034_203_BLE_C.xlsx']
['1034', '203', 'HRV_1034_203_I_C.xlsx']
['1034', '203', 'HRV_1034_203_BL_C.xlsx']
['1034', '205', 'HRV_1034_205_BLE_C.xlsx']
['1034', '205', 'HRV_1034_205_BL_C.xlsx']
['1034', '205', 'HRV_1034_205_I_C.xlsx']
['1026', '177', 'HRV_1026_177_BL_C.xlsx']
['1026', '177', 'HRV_1026_177_BLE_C.xlsx']
['1026', '177', 'HRV_1026_177_I_C.xlsx']
['1026', '176', 'HRV_1026_176_BLE_C.xlsx']
['1026', '176', 'HRV_1026_176_BL_C.xlsx']
['1026', '176', 'HRV_1026_176_I_C.xlsx']
['1026', '178', 'HRV_1026_178_I_C.xlsx']
['1026', '178', 'HRV_1026_178_BLE_C.xlsx']
['1026', '178', 'HRV_1026_178_BL_C.xlsx']
['1004', '110', 'HRV_1004_110_BL_C.xlsx']
['1004', '110', 'HRV_1004_110_BLE_C.xlsx']
['1004', '110', 'HRV_1004_110_I_C.xlsx']
['1004', '111', 'HRV_1004_111_BL_C.xlsx']
['1004', '111', 'HRV_1004_111_BLE_C.xlsx']
['1004', '111', 'HRV_1004_111_I_C.xlsx']
['1004', '112', 'HRV_1004_112_I_C.xlsx']
['1004', '112', 'HRV_1004_112_BLE_C.xlsx']
['1004', '112', 'HRV_1004_112_BL_C.xlsx']
['1046', '241', 'HRV_1046_241_BL_C.xlsx']
['1046', '241', 'HRV_1046_241_BLE_C.xlsx']
['1046', '241', 'HRV_1046_241_I_C.xlsx']
['1046', '240', 'HRV_1046_240_BL_C.xlsx']
['1046', '240', 'HRV_1046_240_BLE_C.xlsx']
['1046', '240', 'HRV_1046_240_I_C.xlsx']
['1046', '239', 'HRV_1046_239_BLE_C.xlsx']
['1046', '239', 'HRV_1046_239_I_C.xlsx']
['1046', '239', 'HRV_1046_239_BL_C.xlsx']
['1012', '136', 'HRV_1012_136_I_C.xlsx']
['1012', '136', 'HRV_1012_136_BLE_C.xlsx']
['1012', '136', 'HRV_1012_136_BL_C.xlsx']
['1012', '134', 'HRV_1012_134_BL_C.xlsx']
['1012', '134', 'HRV_1012_134_I_C.xlsx']
['1012', '134', 'HRV_1012_134_BLE_C.xlsx']
['1012', '135', 'HRV_1012_135_BLE_C.xlsx']
['1012', '135', 'HRV_1012_135_I_C.xlsx']
['1012', '135', 'HRV_1012_135_BL_C.xlsx']
['1029', '187', 'HRV_1029_187_BLE_C.xlsx']
['1029', '187', 'HRV_1029_187_BL_C.xlsx']
['1029', '187', 'HRV_1029_187_I_C.xlsx']
['1029', '186', 'HRV_1029_186_I_C.xlsx']
['1029', '186', 'HRV_1029_186_BLE_C.xlsx']
['1029', '186', 'HRV_1029_186_BL_C.xlsx']
['1029', '185', 'HRV_1029_185_I_C.xlsx']
['1029', '185', 'HRV_1029_185_BL_C.xlsx']
['1029', '185', 'HRV_1029_185_BLE_C.xlsx']
['1032', '196', 'HRV_1032_196_BL_C.xlsx']
['1032', '196', 'HRV_1032_196_I_C.xlsx']
['1032', '196', 'HRV_1032_196_BLE_C.xlsx']
['1032', '194', 'HRV_1032_194_I_C.xlsx']
['1032', '194', 'HRV_1032_194_BLE_C.xlsx']
['1032', '194', 'HRV_1032_194_BL_C.xlsx']
['1032', '195', 'HRV_1032_195_BLE_C.xlsx']
['1032', '195', 'HRV_1032_195_I_C.xlsx']
['1032', '195', 'HRV_1032_195_BL_C.xlsx']
['1041', '225', 'HRV_1041_225_BL_C.xlsx']
['1041', '225', 'HRV_1041_225_I_C.xlsx']
['1041', '225', 'HRV_1041_225_BLE_C.xlsx']
['1041', '224', 'HRV_1041_224_I_C.xlsx']
['1041', '224', 'HRV_1041_224_BLE_C.xlsx']
['1041', '224', 'HRV_1041_224_BL_C.xlsx']
['1041', '226', 'HRV_1041_226_BL_C.xlsx']
['1041', '226', 'HRV_1041_226_I_C.xlsx']
['1041', '226', 'HRV_1041_226_BLE_C.xlsx']
['1040', '221', 'HRV_1040_221_I_C.xlsx']
['1040', '221', 'HRV_1040_221_BL_C.xlsx']
['1040', '221', 'HRV_1040_221_BLE_C.xlsx']
['1040', '223', 'HRV_1040_223_BLE_C.xlsx']
['1040', '223', 'HRV_1040_223_I_C.xlsx']
['1040', '223', 'HRV_1040_223_BL_C.xlsx']
['1040', '222', 'HRV_1040_222_I_C.xlsx']
['1040', '222', 'HRV_1040_222_BLE_C.xlsx']
['1040', '222', 'HRV_1040_222_BL_C.xlsx']
['1050', '252', 'HRV_1050_252_I_C.xlsx']
['1050', '252', 'HRV_1050_252_BL_C.xlsx']
['1050', '252', 'HRV_1050_252_BLE_C.xlsx']
['1050', '253', 'HRV_1050_253_BLE_C.xlsx']
['1050', '253', 'HRV_1050_253_I_C.xlsx']
['1050', '253', 'HRV_1050_253_BL_C.xlsx']

['1050', '251', 'HRV_1050_251_I_C.xlsx']
['1050', '251', 'HRV_1050_251_BL_C.xlsx']
['1050', '251', 'HRV_1050_251_BLE_C.xlsx']
['1010', '130', 'HRV_1010_130_I_C.xlsx']
['1010', '130', 'HRV_1010_130_BLE_C.xlsx']
['1010', '130', 'HRV_1010_130_BL_C.xlsx']
['1010', '128', 'HRV_1010_128_BL_C.xlsx']
['1010', '128', 'HRV_1010_128_BLE_C.xlsx']
['1010', '128', 'HRV_1010_128_I_C.xlsx']
['1010', '129', 'HRV_1010_129_BL_C.xlsx']
['1010', '129', 'HRV_1010_129_BLE_C.xlsx']
['1010', '129', 'HRV_1010_129_I_C.xlsx']
['1003', '109', 'HRV_1003_109_I_C.xlsx']
['1003', '109', 'HRV_1003_109_BLE_C.xlsx']
['1003', '109', 'HRV_1003_109_BL_C.xlsx']
['1003', '108', 'HRV_1003_108_BL_C.xlsx']
['1003', '108', 'HRV_1003_108_I_C.xlsx']
['1003', '108', 'HRV_1003_108_BLE_C.xlsx']
['1007', '121', 'HRV_1007_121_BLE_C.xlsx']
['1007', '121', 'HRV_1007_121_I_C.xlsx']
['1007', '121', 'HRV_1007_121_BL_C.xlsx']
['1007', '120', 'HRV_1007_120_BL_C.xlsx']
['1007', '120', 'HRV_1007_120_BLE_C.xlsx']
['1007', '120', 'HRV_1007_120_I_C.xlsx']
['1007', '119', 'HRV_1007_119_I_C.xlsx']
['1007', '119', 'HRV_1007_119_BL_C.xlsx']
['1007', '119', 'HRV_1007_119_BLE_C.xlsx']

In [ ]:
# con.execute("""CREATE TABLE participant_experiment_raw_interval_data (
#     id int(6) not null AUTO_INCREMENT PRIMARY KEY,
#     experiment_participants_id int(6) NOT NULL,
#     experiment_id int(6) NOT NULL,
#     data_ordinal int(6) NOT NULL,
#     data_time FLOAT(4,3),
#     data_time_diff FLOAT(4,3),
#     UNIQUE KEY (experiment_participants_id, data_ordinal)
#     )"""
#            )
    


# con.execute("""CREATE TABLE experiment_participants (
#     id int(6) NOT NULL AUTO_INCREMENT PRIMARY KEY,
#     experiment_id int(6) NOT NULL,
#     group_id int(6) NOT NULL,
#     participant_id int(6) NOT NULL,
#     UNIQUE KEY (experiment_id, group_id, participant_id)
#     )"""
#            )

In [165]:
exp_part_id[0]

1

In [147]:
fname_parts

['HRV', '1006', '117', 'I', 'C.xlsx']

In [146]:
data

     data_time_diff  data_ordinal  data_time
0                 1             0          1
1               244             1        245
2               688             2        933
3               672             3       1605
4               682             4       2287
..              ...           ...        ...
377             634           377     239601
378             618           378     240219
379             624           379     240843
380             610           380     241453
381             130           381     241583

[382 rows x 3 columns]

In [109]:
data

     data_time_diff  data_ordinal  data_time
0                 1             0          1
1               244             1        245
2               688             2        933
3               672             3       1605
4               682             4       2287
..              ...           ...        ...
377             634           377     239601
378             618           378     240219
379             624           379     240843
380             610           380     241453
381             130           381     241583

[382 rows x 3 columns]

In [104]:
pd.np.cumsum(data['data_ordinal'])

0          0
1          1
2          3
3          6
4         10
       ...
377    71253
378    71631
379    72010
380    72390
381    72771
Name: data_ordinal, Length: 382, dtype: int64

In [85]:
fnames[0].split(sep)

['data', 'final_music', '1006', '117', 'EDA_1006_117_BL_C.xlsx']

In [87]:
pd.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)>

In [139]:
from collections import Counter
sorted(Counter([tuple(f.split(sep)[2:4]) for f in fnames]).most_common())

[(('1001', '101'), 6),
 (('1001', '102'), 6),
 (('1001', '103'), 6),
 (('1003', '107'), 2),
 (('1003', '108'), 8),
 (('1003', '109'), 8),
 (('1004', '110'), 8),
 (('1004', '111'), 8),
 (('1004', '112'), 8),
 (('1005', '113'), 8),
 (('1005', '114'), 8),
 (('1005', '115'), 6),
 (('1006', '116'), 8),
 (('1006', '117'), 8),
 (('1006', '118'), 8),
 (('1007', '119'), 7),
 (('1007', '120'), 8),
 (('1007', '121'), 8),
 (('1008', '122'), 8),
 (('1008', '123'), 8),
 (('1008', '124'), 8),
 (('1009', '125'), 8),
 (('1009', '126'), 8),
 (('1009', '127'), 8),
 (('1010', '128'), 8),
 (('1010', '129'), 8),
 (('1010', '130'), 8),
 (('1011', '131'), 8),
 (('1011', '132'), 8),
 (('1011', '133'), 8),
 (('1012', '134'), 8),
 (('1012', '135'), 8),
 (('1012', '136'), 8),
 (('1013', '137'), 8),
 (('1013', '138'), 8),
 (('1013', '139'), 8),
 (('1014', '140'), 8),
 (('1014', '141'), 8),
 (('1014', '142'), 8),
 (('1015', '143'), 4),
 (('1015', '144'), 8),
 (('1015', '145'), 8),
 (('1016', '146'), 8),
 (('1016', '147'), 8),
 (('1016', '148'), 8),
 (('1017', '149'), 8),
 (('1017', '150'), 4),
 (('1017', '151'), 8),
 (('1019', '155'), 8),
 (('1019', '156'), 8),
 (('1019', '157'), 8),
 (('1020', '158'), 8),
 (('1020', '159'), 8),
 (('1020', '160'), 8),
 (('1021', '161'), 4),
 (('1021', '162'), 3),
 (('1021', '163'), 4),
 (('1022', '164'), 8),
 (('1022', '165'), 7),
 (('1022', '166'), 8),
 (('1023', '167'), 8),
 (('1023', '168'), 6),
 (('1023', '169'), 8),
 (('1024', '170'), 8),
 (('1024', '171'), 8),
 (('1024', '172'), 8),
 (('1025', '173'), 8),
 (('1025', '174'), 8),
 (('1025', '175'), 8),
 (('1026', '176'), 8),
 (('1026', '177'), 8),
 (('1026', '178'), 8),
 (('1027', '179'), 8),
 (('1027', '180'), 8),
 (('1027', '181'), 8),
 (('1028', '182'), 8),
 (('1028', '183'), 8),
 (('1028', '184'), 8),
 (('1029', '185'), 8),
 (('1029', '186'), 8),
 (('1029', '187'), 8),
 (('1030', '188'), 8),
 (('1030', '189'), 8),
 (('1030', '190'), 8),
 (('1031', '191'), 8),
 (('1031', '192'), 8),
 (('1031', '193'), 8),
 (('1032', '194'), 8),
 (('1032', '195'), 8),
 (('1032', '196'), 8),
 (('1033', '200'), 8),
 (('1033', '201'), 8),
 (('1033', '202'), 8),
 (('1034', '203'), 8),
 (('1034', '204'), 8),
 (('1034', '205'), 8),
 (('1035', '206'), 8),
 (('1035', '207'), 8),
 (('1035', '208'), 8),
 (('1036', '209'), 8),
 (('1036', '210'), 8),
 (('1036', '211'), 8),
 (('1037', '212'), 8),
 (('1037', '213'), 8),
 (('1037', '214'), 8),
 (('1038', '215'), 8),
 (('1038', '216'), 8),
 (('1038', '217'), 8),
 (('1039', '218'), 8),
 (('1039', '219'), 8),
 (('1039', '220'), 8),
 (('1040', '221'), 8),
 (('1040', '222'), 8),
 (('1040', '223'), 8),
 (('1041', '224'), 8),
 (('1041', '225'), 8),
 (('1041', '226'), 8),
 (('1042', '227'), 8),
 (('1042', '228'), 8),
 (('1042', '229'), 8),
 (('1043', '230'), 8),
 (('1043', '231'), 8),
 (('1043', '232'), 8),
 (('1044', '233'), 8),
 (('1044', '234'), 8),
 (('1044', '235'), 8),
 (('1045', '236'), 8),
 (('1045', '237'), 8),
 (('1045', '238'), 8),
 (('1046', '239'), 8),
 (('1046', '240'), 8),
 (('1046', '241'), 8),
 (('1047', '242'), 8),
 (('1047', '243'), 8),
 (('1047', '244'), 8),
 (('1048', '245'), 8),
 (('1048', '246'), 8),
 (('1048', '247'), 8),
 (('1049', '248'), 8),
 (('1049', '249'), 8),
 (('1049', '250'), 8),
 (('1050', '251'), 8),
 (('1050', '252'), 8),
 (('1050', '253'), 8),
 (('1051', '254'), 8),
 (('1051', '255'), 8),
 (('1051', '256'), 8)]