The below queries were used to create and populate
* participants
* group_lists

```sql
create table participants (
participant_id int(6) not null primary key,
group_id int(6) not null);

```

```sql
insert into participants
select distinct participant_id, group_id
from raw_interval_data;
```

```sql
create table group_lists
( id int(10) not null auto_increment primary key,
list_id int(6) not null,
group_id int(6) not null,
unique key (list_id, group_id));
```

```sql
insert ignore into group_lists (list_id, group_id)
VALUES 
(1,1002),(1,1005),(1,1008),
(1,1011),(1,1014),(1,1016),
(1,1022),(1,1025),(1,1028),
(1,1031),(1,1034),(1,1037),
(1,1040),(1,1043),(1,1046),
(1,1049)
```