In [1]:
import get_db_data as gdd
import pandas as pd

In [3]:

query="""
SELECT Round(interval_end, -1) rie,
       Count(1)
FROM   group_series_interpolation_interval
       INNER JOIN group_lists using(group_id)
WHERE  interpolation_series_id = 4
       AND series_type_id = 2 # interaction
       AND list_id = 2
GROUP  BY rie  
"""

In [4]:
con = gdd.get_db_data()

In [5]:
df=pd.read_sql_query(query, con.con)
df

     rie  Count(1)
0  210.0         1
1  220.0         3
2  230.0        11
3  240.0         3
4  250.0         5
5  260.0         1
6  280.0         2
7  290.0        13
8  300.0         4
9  310.0         2